html, body ,#app {
    margin: 0;
    padding: 0;
}
#app{
    height: 100vh;
}
ul{
    list-style: none;
}
li{
    text-align: none;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: blue;
}